---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import avatar from "../images/avatar.png";
import github from "../images/Index/github.png";
import friend from "../images/Index/friend.png";
import blog from "../images/Index/blog.png";
import hitszlug from "../images/Index/hitszlug.svg";
import IndexCard from "../components/IndexCard.astro";
import "@fontsource/noto-sans-sc";
---

<Layout title="Yukkoの部屋">
  <div class="mx-auto w-full h-screen flex justify-center">
    <main class="py-16 px-4 flex flex-col gap-10">
      <div class="flex flex-col justify-center gap-8">
        <Image
          class:list={["rounded-full"]}
          src={avatar}
          alt="icon"
          height={120}
          width={120}
        />
        <div>
          <h1
            class="text-3xl font-bold tracking-wide text-gray-800 hover:text-text-pink transition-colors duration-200"
          >
            Yukkoの部屋
          </h1>
          <span class="text-md text-gray-700">Keep Learning</span>
        </div>
      </div>
      <div class="grid grid-cols-2 md:grid-cols-3 gap-3 lg:gap-6">
        <IndexCard imgSrc={github} link="https://github.com/yukkodesu" title="GitHub" text="@yukkodesu"/>
        <IndexCard imgSrc={blog} link="/blogs" title="Blogs" text="记录一些好玩的事情"/>
        <IndexCard imgSrc={friend} link="/friends" title="Friends" text="好朋友的友链"/>
        <IndexCard imgSrc={hitszlug} link="https://lug.pub" title="HITsz LUG" text="好多爱好Linux的大佬们"/>
      </div>
    </main>
  </div>
</Layout>

<style>
  h1 {
    font-family: "Noto Sans JP";
  }
</style>
